<!DOCTYPE html>
<html>
<head>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
    
    <title>OXDB: Divine Liturgy Generator</title>
</head>
<body ng-app="dl" ng-controller="dlCtrl">
    
    <div class="container">
        
        <div class="page-header">
            <h1>Divine Liturgy</h1>
        </div>
        
        <h3 class="col-md-6 well">
            {{ dayname }}<br>
            Tone {{ tone }}<br>
            {{ date }}
        </h3>
        <h3 class="col-md-6 well">
            {{ priestName }} <br>
            {{ parishName }} <br>
            {{ city }}, {{ state }}
        </h3>
        
        <div id="greatDoxology" ng-show=" includeGreatDoxology == 'true' ">
            <div class="page-header">
                <h2>Great Doxology</h2>
            </div>
            <div class="col-md-2">
                <h4><span class="label label-success">Everyone</span></h4>
            </div>
            <div class="col-md-10">
                <p>Glory to thee who has shown us the light. Glory to God in the highest and on Earth peace, goodwill among men.</p>
                <p>We praise Thee, we bless Thee, we worship Thee, we glorify Thee, we give thanks to Thee, for Thy great glory.</p>
                <p>O Lord, heavenly King, God the Father Almighty. O Lord, the Only-Begotten Son, Jesus Christ, and the Holy Spirit.</p>
                <p>O Lord God, Lamb of God, Son of the Father, that takest away the sin of the world, have mercy on us, Thou that takest away the sin of the world.</p>
                <p>Receive our prayer, Thou that sittest at the right hand of the Father, and have mercy on us.</p>
                <p>For Thou only art holy, Thou only art Lord, Jesus Christ, to the glory of God the Father. Amen.</p>
                <p>Every day will I bless Thee, and I will praise Thy name forever, yea, forever and ever.</p>
                <p>Vouchsafe, O Lord, to keep us this day without sin.</p>
                <p>Blessed are Thou, O Lord, the God of our fathers, and praised and glorified is thy Name unto the ages of ages. Amen.</p>
                <p>Let they mercy, O Lord, be upon us, accordingly as we have hoped in Thee.</p>
                <p>Blessed art Thou, O Lord, teach me Thy statues. Blessed art Thou, O Lord, teach me Thy statues. Blessed art Thou, O Lord, teach me Thy statues.</p>
                <p>Lord, Thou hast been our refuge from generation to generation. I said, O Lord have mercy on me, heal my soul, for I have sinned against Thee.</p>
                <p>Lord, unto Thee have I fled for refuge, teach me to do Thy will, for Thou are my God.</p>
                <p>For in Thee is the fountain of life, in Thy light shall we see light.</p>
                <p>O, continue Thy mercies unto them that know Thee.</p>
                <p>Holy God, Holy Mighty, Holy Immortal, have mercy on us. Holy God, Holy Mighty, Holy Immortal, have mercy on us. Holy God, Holy Mighty, Holy Immortal, have mercy on us.</p>
                <p>Glory to the Father, and to the Son, and to the Holy Spirit. Now and ever, and unto ages of ages. Amen.</p>
                <p>Holy Immortal, have mercy on us. Holy God, Holy Mighty, Holy Immortal, have mercy on us.</p>
                
                <div id="openingChant1" ng-show="tone <= 4">
                    <p>Today is salvation come into the world. Let us sing praises to Him that arose from the grave, the Author of our life, for having destroyed death by death, He hath given us victory and great mercy.</p>
                </div>
                <div id="openingChant2" ng-show="tone > 4">
                    <p>Having risen from the tomb, and having burst the bonds of Hades, Thou didst loose the condemnation of death, O Lord, releasing all mankind from the snares of the enemy. Having manifested Thyself to Thine apostles, Thou didst send them forth to proclaim Thee, and through them thou has granted Thy peace unto the civilized world, O Thou Who alone art plenteous in mercy.</p>
                </div>
            </div>
        </div>
        <div id="openingPrayer">
            <div class="page-header">
                <h2>Opening Prayer</h2>
            </div>
            <div class="col-md-2">
                <h4><span class="label label-danger">{{ priestName }}</span></h4>
            </div>
            <div class="col-md-10">
                <p>O heavenly King, O Comforter, the Spirit of truth, who art in all places and fillest all things; Treasury of good things and Giver of life: Come and dwell in us and cleanse us from every stain, and save our souls, O gracious Lord. Glory to God in the highest, and on earth peace, and good will among men. Glory to God in the highest, and on earth peace, and good will among men. O Lord, open Thou my lips, and my mouth shall declare Thy praise.</p>
                <p>Blessed is the Kingdom of the Father, and of the Son, and of the Holy Spirit: now and ever, and unto ages of ages.</p>
            </div>
        </div>
        <div id="greatLitany">
            <div class="page-header">
                <h2>Great Litany</h2>
            </div>
            <div ng-repeat="greatLitanyLine in greatLitanyLines.slice (0, -2)">
                <div class="row">
                    <div class="col-md-2">
                        <h4><span class="label label-danger">{{ priestName }}</span></h4>
                    </div>
                    <div class="col-md-10">
                        <p>{{ greatLitanyLine }}</p>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h4><span class="label label-primary">Congregants</span></h4>
                    </div>
                    <div class="col-md-10">
                        <p>Lord, have mercy.</p>
                        <br>
                    </div>
                </div>
                <div ng-if=" greatLitanyLine.indexOf ( 'For our Father' ) !== -1 && includeExtraPrayer">
                    <div class="row">
                        <div class="col-md-2">
                            <h4><span class="label label-danger">{{ priestName }}</span></h4>
                        </div>
                        <div class="col-md-10">
                            <p>{{ extraPrayer }}</p>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <h4><span class="label label-primary">Congregants</span></h4>
                        </div>
                        <div class="col-md-10">
                            <p>Lord, have mercy.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h4><span class="label label-danger">{{ priestName }}</span></h4>
                </div>
                <div class="col-md-10">
                    <p>{{ greatLitanyLines [ greatLitanyLines.length - 2 ] }}</p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h4><span class="label label-primary">Congregants</span></h4>
                </div>
                <div class="col-md-10">
                    <p>To Thee, O Lord.</p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h4><span class="label label-danger">{{ priestName }}</span></h4>
                </div>
                <div class="col-md-10">
                    <p>{{ greatLitanyLines [ greatLitanyLines.length - 1 ] }}</p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h4><span class="label label-primary">Congregants</span></h4>
                </div>
                <div class="col-md-10">
                    <p>Amen.</p>
                    <br>
                </div>
            </div>
        </div>
    </div>
    
    <script src="js/ng/dl.js"></script>
</body>